body{
	background: url("../img/back_image.jpg") center fixed no-repeat;
	background-size: cover;

}
#openweathermap-widget-15 {
	width: 15px;
	height: 15px;
}
.navbar-default, .navbar {
	margin-bottom: 0;
	text-align: center;
}
#openweathermap-widget-15{

}
table{
	border:2px;
	border-color: black;
}
a>img {
	height: 35px;
	width: 100px;
}
caption {
  caption-side: bottom;
  align: center;
}
a:hover{
	color:pink;
}
