{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Nos Chambres</h2>
{% if chambres %}
    <div class="row">

        {% for chambre in chambres %}

            <div class="col-md-3 pull-right thumbnail text-center">
            	<figure>
                <img src="{{ asset('img/' ~chambre.image) }}" alt="chambre bootstrap" class="img-responsive">

                    <figcaption><a href="{{ path('app_chambre_preview', {id:chambre.id_chambre}) }}">{{ chambre.nom }}</a>
                    </figcaption>

            </figure>
            </div>
        {% endfor %}
    </div>

{% endif %}
{% endblock %}
