{% extends 'layout.html.twig' %}

{% block content %}

	<table class="table-bordered">
		<tr>
			<td>Note</td>
			<td>Commentaire</td>
		</tr>
	{% for comment in comments %}
		<tr>
		    <td>{{ comment.note }}</td>
			<td>{{ comment.content }}</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
