{% extends 'layout.html.twig' %}

{% block content %}
	<h3>Les derniers commentaires de nos clients</h3>
	<div class="container">
	<table class="table-bordered 1px">
		<tr>
			<td>Note</td>
			<td>Commentaire</td>
		</tr>
	{% for comment in comments %}
		<tr>
		    <td>{{ comment.note }}</td>
			<td>{{ comment.content }}</td>
		</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
