{% extends 'layout.html.twig' %}


{% block content %}
    {% if error %}
        <div class="alert alert-danger">Identification incorrecte</div>
    {% endif %}
    <h1>Connexion</h1>
    <form method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="" value="">
        </div>
        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" class="form-control" name="">
        </div>
        <div class="button-group pull-right">
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
    </form>

{% endblock %}